name: sfc-request
include:
   - compose.Infrastructure.yaml
x-build-args: &build_args
  args:
    BUILD_CONFIGURATION: Release
services:
  sfc-request:
    extends:
      file: compose.Common.yaml
      service: sfc-request  
    image: kryvorukandrii/sfc.request:latest
    build:
      dockerfile: src/API/SFC.Request.Api/Dockerfile
      <<: *build_args
    env_file:
      - environments/api/api.Production.env
  sfc-data:
    extends:
      file: compose.Common.yaml
      service: sfc-data  
    image: kryvorukandrii/sfc.data:latest
    build:
      dockerfile: ../sfc-data-service/src/API/SFC.Data.Api/Dockerfile
      <<: *build_args
    env_file:
      - ../sfc-data-service/environments/api/api.Production.env
  sfc-identity:
    extends:
      file: compose.Common.yaml
      service: sfc-identity  
    image: kryvorukandrii/sfc.identity:latest
    build:
      dockerfile: ../sfc-identity-service/src/API/SFC.Identity.Api/Dockerfile
      <<: *build_args
    env_file:
      - ../sfc-identity-service/environments/api/api.Production.env
  sfc-player:
    extends:
      file: compose.Common.yaml
      service: sfc-player  
    image: kryvorukandrii/sfc.player:latest
    build:
      dockerfile: ../sfc-player-service/src/API/SFC.Player.Api/Dockerfile
      <<: *build_args
    env_file:
      - ../sfc-player-service/environments/api/api.Production.env
  sfc-team:
    extends:
      file: compose.Common.yaml
      service: sfc-team  
    image: kryvorukandrii/sfc.team:latest
    build:
      dockerfile: ../sfc-team-service/src/API/SFC.Team.Api/Dockerfile
      <<: *build_args
    env_file:
      - ../sfc-team-service/environments/api/api.Production.env 